<h2> About Us </h2>
<h4>Patriot Swim</h4>
  <p>At Patriot Swim we make sure that no swimmer is left behind. We take the saying "practice makes perfect" to a whole other level becaue we believe swimming doesn't take talent it takes practice. Some swimmers just take longer to learn than others. Here at Patriot Swim we focus on all of the swim strokes including breastroke, freestyle, backstroke, and butterfly. Our coaches help swimmers on technique and help to build up stamina. In order for us to help swimmers, the swimmers have to be interested in the activity. Don't wait to sign up. If you are someone who is interested in swimming, but knows nothing sign up for our classes. We have swim tests if you feel that you are ready to join the swim team. For more details go to the "Team" and "Lessons" tabs.</p>
<img src = "http://graphics8.nytimes.com/images/2012/08/02/sports/olympics/02soni_olyblog/02soni_olyblog-articleLarge.jpg">  
  <img src = "http://www2.pictures.zimbio.com/pc/Coralie+Balmy+Netherlands+200m+Women+Freestyle+ud4V8gV0zI_l.jpg">
  <img src = "http://media.komonews.com/images/120801_London+Olympics+Swimm_Kang(3).jpg">
  <img src = "http://trimadnessblog.files.wordpress.com/2012/02/michael-phelps-butterfly-stroke.jpg">