<h1>Lessons</h1>
  <p>Before our swimmers move up to the team, they need to learn to swim.</p>
  <ul>
    <li>Beginners 1 – 4: Beginners will learn water safety skills, blowing bubbles, floating on front and back, gliding on front and back, and rolling over from front to back.

<li>Advanced 5 – 8:   Advanced preschoolers will learn the 4 competitive strokes (freestyle, backstroke, breaststroke and butterfly). When they pass station 8, they will join the Pre-Team.</li>

<li>Pre Team 9 and 10: The swimmers are able to swim all four competitive strokes for a short distance. They will work on endurance and begin lap swimming. They will also continuously improve their strokes. </li>
  </ul>