<h1>New Swimmer</h1>

<div class="container">

<form action="/create_swimmer">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="username">username</label><br />
    <input id="username" name="username" type="text" />
  </div>
  <div>
    <label for="password">password</label><br />
    <input id="password" name="password" id="name" type="password" />
  </div>
  <div>
    <label for="password_confirmation">password_confirmation</label><br />
    <input id="password_confirmation" name="password_confirmation" type="password" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>
  <a href = "/new_attendance"> Meet Sign Up </a>
</div>

