 <h1>Patriot Swim Team</h1>
  <p>Our coaches make sure that our swimmers are ready to swim for the team. To move to the next level you must be active in swim meets.</p>
  <ul> <h3>Levels</h3>
    <li>Novice</li>
    <li>Bronze</li>
    <li>Silver</li>
    <li>Gold</li>
    <li>Age Group Elite</li>
    <li>Senior</li>
    <li>Senior Advanced</li>
    <li>Senior Elite</li>
  </ul>