<h1>Upcoming Events:</h1>

<li>Start of Swimming Season-August 10th</li>
<li>All Novice Swim Orientation-August 22nd</li>
<li>All Swimmers' Swim Meet at Northwestern-September 20th</li>
<li>Swim Banquet-October 18th</li>
<a href = "/new_meet">Create Meet</a>