<h1>New Swimmer Time</h1>

<form action="/create_swimmertime">
  <div>
    <label for="duration">duration</label><br />
    <input id="duration" name="duration" type="text" />
  </div>
  <div>
    <label for="swimmer_id">swimmer_id</label><br />
    <input id="swimmer_id" name="swimmer_id" type="text" />
  </div>
  <div>
    <label for="event_id">event_id</label><br />
    <input id="event_id" name="event_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

