<h1>New Attendance</h1>

<form action="/create_attendance">
  
  <div>
    <label for="meet_id">meet_id</label><br />
   <select id="meet_id" name="meet_id">
     <% @meets.each do |meet| %>
     <option value = <%= meet.id %>><%= meet.name %></option>
     <% end %>
    </select>
  </div>
  <div>
    <input type="submit">
  </div>
</form>

